a.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}
a.anchor-page {
     display: block;
     position: relative;
     top: -110px;
     visibility: hidden;
}
a.anchor-speakers {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

@screen md {
    a.anchor {
        top: -145px;
    }
    a.anchor-speakers {
        top: -260px;
    }
}
