/node_modules
/public/assets/*/app.css
/public/assets/*/app.js
/public/assets/*/app.js.LICENSE.txt
/public/assets/*/images/vendor
/public/assets/*/mix-manifest.json
/public/assets/*/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
auth.json
