.env
.idea
.php_cs.cache
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/css
public/fonts
public/hot
public/images
public/js
public/mix-manifest.json
public/storage
storage/*.key
vendor
yarn-error.log
