/node_modules
/public/*/app.css
/public/*/app.js
/public/*/images
/public/*/mix-manifest.json
/public/*/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
auth.json
