.image-background-gradient {
    @apply bg-gradient-tr-secondary;
    @apply ml-3 pb-3 leading-none;
}
.image-background-gradient img {
    @apply inline-block -mt-3 -ml-3 w-full;
}

@screen md {
    .image-background-gradient {
        @apply ml-0;
    }
}

.background-photo {
    background: url('/images/2020/fseu19.jpeg') center no-repeat;
    background-size: cover;
}
.background-photo .overlay {
    background: rgba(39, 29, 119, 0.7);
}
.background-photo-antwerp {
    background: url('/images/2020/antwerp.jpg') center no-repeat;
    background-size: cover;
}
.background-photo-antwerp .overlay {
    background: rgba(39, 29, 119, 0.88);
}

.image-border-gradient-left {
    /*border-width: 0 0 0 5px;*/
    /*border-style: solid;*/
    /*border-image: linear-gradient(225deg, config('colors.secondary'), config('colors.primary')) 1 100%;*/
}
