.btn-tickets {
    @apply inline-block w-full font-noway-medium text-center text-white text-2xl uppercase rounded-lg px-12 py-6;
    background-image: linear-gradient(225deg, config('colors.secondary') 0%, config('colors.primary') 50%, config('colors.secondary') 100%);
    background-size: 200% auto;
    cursor: pointer;
    transition: .5s cubic-bezier(.2, .8, .2, 1);

    button {
        @apply text-white uppercase;
    }
}
.btn-tickets:hover {
    background-position: right top;
}

@screen md {
    .btn-tickets {
        @apply w-auto text-lg py-4;
    }
}
