.btn-tickets {
    background: linear-gradient(225deg, config('colors.secondary') 0%, config('colors.primary') 100%);
    color: white;
}
.btn-tickets:hover {
    background: config('colors.primary');
}
