.footer {
    color: #E5E3FE;

    a {
        color: #E5E3FE;
    }
    a:hover {
        color: white;
    }
}

.footer-top {
    background-color: #2D256F;
}

.footer-bottom {
    background-color: #20195B;
}
