.footer {
    color: config('colors.light');

    a {
        color: config('colors.light');
    }
    a:hover {
        color: white;
    }
}

.footer-top {
    background-color: #2D256F;
}

.footer-bottom {
    background-color: #20195B;
}
