#header {
    border-width: 8px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(225deg, config('colors.secondary'), config('colors.primary')) 100;

    color: config('colors.light');

    a,
    button {
        color: config('colors.light');
    }
    a:hover,
    button:hover {
        color: white;
    }
    .btn-tickets button {
        color: white;
    }
}

.content-page #header {
    background: rgba(39, 29, 119, .88);
}

@screen md {
    #header {
        transition: all .35s ease-in;
    }
}
