#header {
    border-width: 8px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(225deg, #6ACBE0, #6859EA) 100;

    color: config('colors.light');

    a {
        color: config('colors.light');
    }
    a:hover {
        color: white;
    }
}

@screen md {
    #header {
        transition: all .5s ease-in;
    }
}
