.newsletter {
    background: url('/assets/images/newsletter-bg.png') repeat-x top left;
    color: #818181;
    max-height: 400px;

    input {
        background-color: #F5F6FB;
        color: #989898;
    }
}
