#speakers-outer {
    background: url('/assets/images/pattern.png') repeat top left;

    .speaker {
        border-width: 5px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(225deg, config('colors.secondary'), config('colors.primary')) 100;
    }
}

@screen md {
    #speakers-inner {
        transform: translateY(-5rem);
    }
}
