#speakers-outer {
    background: url('/assets/images/pattern.png') repeat top left;

    .speaker {
        border-width: 5px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(225deg, config('colors.secondary'), config('colors.primary')) 100;
        overflow: hidden;

        a {
            color: config('colors.grey-dark');
        }
        a:hover {
            color: config('colors.secondary');
        }
    }
}

@screen md {
    #speakers {
        transform: translateY(-5rem);
    }
}
