<div id="navigation" class="lg:flex-1 mt-10 lg:mt-0 hidden lg:block lg:text-center lg:px-4 lg:pt-4 lg:leading-normal">
    <nav>
        <ul class="list-reset">
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a data-scroll href="/2020/#speakers">speakers</a>
            </li>
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a data-scroll href="/2020/#venue">venue</a>
            </li>
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a data-scroll href="/2020/#sponsors">sponsors</a>
            </li>
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a data-scroll href="/2020/#newsletter">newsletter</a>
            </li>
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a href="/2020/diversity">diversity</a>
            </li>
            <li class="mb-6 lg:mb-0 lg:mr-6 lg:inline-block">
                <a href="/2020/code-of-conduct">code of conduct</a>
            </li>
        </ul>
    </nav>
</div>

<div id="navigationButton" class="hidden lg:block lg:flex-initial lg:pt-2">
    <a class="lg:hidden" href="https://ti.to/on3/fullstack20" target="_blank">tickets</a>
    <a class="hidden lg:inline-block btn-tickets leading-normal" href="https://ti.to/on3/fullstack20" target="_blank">tickets</a>
</div>
